Source: nicos-pyctl
Section: misc
Priority: optional
Maintainer: Georg Brandl <g.brandl@fz-juelich.de>
Build-Depends: debhelper (>= 11~),
 dh-python,
 python3 (>= 3.6),
 python3-setuptools,
 python3-dev
Standards-Version: 3.9.3

Package: python3-nicos-pyctl
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 ${python3:Depends}
Description: NICOS pyctl c module (Python 3)
 A small Python module to control the execution of a script using the
 Python debugger interface.
